{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "para-local-dev",
    "storage_bucket": "para-local-dev.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:debuglocal",
        "android_client_info": {
          "package_name": "social.paramx.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "debug-placeholder-key"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
